.flipX {
  animation: flip2 1s;
}
@keyframes flip2 {
  from {
    transform: rotateX(0deg)
  }
  to {
    transform: rotateX(720deg)
  }
  }

body{
  font-family: Garamond, Georgia, serif;
}

@media only screen and (min-width: 767px) {
h2, .h2 {
  font-family: Garamond, Georgia, serif;
  font-size: 120px;
  }
}

@media only screen and (max-width: 767px) {
  h2, .h2 {
    font-family: Garamond, Georgia, serif;
    font-size: 60px;
    }
  }
